<div class="container-fluid">
  <div>
    <img src="https://www.shutterstock.com/image-vector/business-webinar-horizontal-banner-template-260nw-2041227701.jpg" style="width:100%" />

  </div>



  <div style="margin-top:20px;">
    <div class="row text-white mt-1 section">
      <div class="col-3" style="text-align:center;">
        <i class="fa fa-folder-open abc" aria-hidden="true"></i>
        <h3 style="margin-top:20px;">365+</h3>
        <hr />
        <h5> Corporate Trainings</h5>
      </div>
      <div class="col-3" style="text-align:center;">
        <i class="fa fa-users abc" aria-hidden="true"></i>
        <h3 style="margin-top:20px;">365+</h3>
        <hr />
        <h5>Batches</h5>
      </div>
      <div class="col-3" style="text-align:center;">
        <i class="fa fa-graduation-cap abc" aria-hidden="true"></i>
        <h3 style="margin-top:20px;">365+</h3>
        <hr />
        <h5> Students</h5>
      </div>
      <div class="col-3" style="text-align:center;">
        <i class="fa fa-file abc" aria-hidden="true"></i>
        <h3 style="margin-top:20px;">365+</h3>
        <hr />
        <h5> Projects</h5>
      </div>
    </div>

  </div>
  <div style="margin-top:20px;text-align:center;">
    <h4>WHY IS CORPORATE TRAINING IMPORTANT FOR YOU?</h4>
  </div>

  <div style="margin-top:20px;">
    <p><i class="fa fa-check" aria-hidden="true" style="color:red"></i>Equipped with the best corporate trainers in Top Technologies, Deccansoft places a lot of importance to its corporate training vertical. Mr. Sandeep Soni and Mr. Rahul Rampurkar are famous for delivering training to more than 350 corporates all across India, in technologies like Microsoft Azure, Java, Microservices, Docker and Kubernetes, ASP.NET Core and MVC and more.</p>
  </div>

  <div style="margin-top:20px;">
    <h5>Some Amazing Stats to prove the Importance of Corporate Training.</h5>
  </div>
  <div style="margin-top:5px;">
    <p><i class="fa fa-check" aria-hidden="true" style="color:red"></i> According to Huffington Post,Companies that invest in training of employees tend to have 24% higher profit margins.</p>
  </div>

  <div>
    <p><i class="fa fa-check" aria-hidden="true" style="color:red"></i> In a recent Dale Carnegie survey,companies with engeged employees outperform those without by up to 202%.</p>
  </div>

  <div style="margin-top:20px;text-align:center;">
    <h2>CORPORATE TRAINING PROCESS</h2>
  </div>

  <div style="text-align:center;margin-top:20px;">
    <img src="https://media.istockphoto.com/id/1173483826/vector/modern-web-banners-design-template-set-vector-illustration.jpg?s=612x612&w=0&k=20&c=l7nH1j231NZTVUIqEqtqhHDUDPNyZie6k1yszWQGtI4=" style="width:100%;"/>

  </div>
  <div style="margin-top:20px;text-align:center;">
    <h3>BENEFITS OF TRAINING AT DECCANSOFT</h3>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top:20px;background-color:white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-television abcd" aria-hidden="true"></i>
          </div>
          <div class="col-9">
            <h5>Enabling system Thinking</h5>
            <p>A form of system thinking in order to capture the complexity of systems addressed in design practice.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-question-circle abcd" aria-hidden="true"></i>
          </div>
          <div class="col-9">
            <h5>Collaborative Approach</h5>
            <p>We encourage using groups to enhance learning through working together to further the overall learning curve.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-flask abcd" aria-hidden="true"></i>
          </div>
          <div class="col-9">
            <h5>Experimental Learning</h5>
            <p>We believe experience is one of the greatest teacher of all, so all our teaching encapsulate real life experiences and draws learnings from them.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-users abcd" aria-hidden="true"></i>
          </div>
          <div class="col-9">
            <h5>Development Creativity</h5>
            <p>We invite the trainees to come up with creative ways to solve problems, especially something that is “Outside the Box”</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check abcd" aria-hidden="true"></i>
          </div>
          <div class="col-9">
            <h5>Proactive Approach</h5>
            <p>ike the saying goes, to be one step ahead of the curve and be ready to tackle any issues before they arise.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-exclamation-triangle abcd" aria-hidden="true"></i>
          </div>
          <div class="col-9">
            <h5>Problem Solving</h5>
            <p>A form of system thinking in order to capture the complexity of systems addressed in design practice.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-desktop abcd" aria-hidden="true"></i>          </div>
          <div class="col-9">
            <h5>Customizable Course Structure</h5>
            <p>A form of system thinking in order to capture the complexity of systems addressed in design practice.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-user abcd" aria-hidden="true"></i>          </div>
          <div class="col-9">
            <h5>Expert Trainers</h5>
            <p>You will be trained under Certified Trainers who are working in the industry for 18+ years.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="elem" style="margin-top: 30px; background-color: white">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-bolt abcd" aria-hidden="true"></i>          </div>
          <div class="col-9">
            <h5>Right  Theoretical and Training</h5>
            <p>The training will be a perfect mix of theory and practice to keep you involved with all concepts and hands-on labs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top:50px;">

    <img src="https://cdn-ffcnc.nitrocdn.com/IgQgvFAFsbpRpRIYNJsunYALyMZOgHvG/assets/static/optimized/rev-fa97e37/wp-content/uploads/2022/03/HERO_common-mistakes-on-nursing-school-applications.jpg" style="width:100%;opacity:60%;" />

  </div>

  <div style="margin-top:30px;text-align:center;">
    <h3>Other Courses</h3>
  </div>

  
  <hr />
</div>
